h3 {
	color: blue;
	width: 30vw;
	border: 1px;
	padding: 1vw;
}


.facts {
	color: red;
	width: 20vw;
	border: 1px solid #000;
	padding: 1vw;
}

.intro-para {
	width: 50vw;
	border: 1px solid #000;
	padding: 1vw;
}
