h1{

}

h2{

}


h3 {
	color: blue;
	width: 30vw;
	border: 1px;
	padding: 1vw;
}

title{
	color: white;
	background-color: #54A4B1;
}

body{
	background-color: #E2DE89;
}

.facts {
	color: red;
	width: 20vw;
	border: 1px solid #000;
	padding: 1vw;
}

#visa {
	width: 300px;
}
